# Created by http://gitignore.io

### OSX ###
.DS_Store
.AppleDouble
.LSOverride
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

### Tower.app ###
Icon.png

### Bower ###
/assets/bower_components

### SASS ###
*.sass-cache

### Node ###
npm-debug.log
node_modules

### Grunt ###
dist
aws.json